%h1 Controls
.score_buttons
  .btn_set
    =link_to 'T2', '#', :class=>"red_btn", :id => '' 
    =link_to 'T2', '#', :class=>"green_btn", :id => ''
  .btn_set
    =link_to 'E1', '#', :class=>"red_btn", :id => '' 
    =link_to 'E1', '#', :class=>"green_btn", :id => ''  
  .btn_set
    =link_to 'R2', '#', :class=>"red_btn", :id => '' 
    =link_to 'R2', '#', :class=>"green_btn", :id => ''
  .btn_set
    =link_to 'NF2', '#', :class=>"red_btn", :id => '' 
    =link_to 'NF2', '#', :class=>"green_btn", :id => ''
  .btn_set
    =link_to 'NF3', '#', :class=>"red_btn", :id => '' 
    =link_to 'NF3', '#', :class=>"green_btn", :id => ''
  .btn_set
    =link_to 'Warn', '#', :class=>"red_btn", :id => '' 
    =link_to 'Warn', '#', :class=>"green_btn", :id => ''
  .btn_set
    =link_to 'Warn1', '#', :class=>"red_btn", :id => '' 
    =link_to 'Warn1', '#', :class=>"green_btn", :id => ''
  .btn_set
    =link_to 'Warn2', '#', :class=>"red_btn", :id => '' 
    =link_to 'Warn2', '#', :class=>"green_btn", :id => ''
  .btn_set
    =link_to 'Caution', '#', :class=>"red_btn", :id => '' 
    =link_to 'Caution', '#', :class=>"green_btn", :id => ''
  .btn_set
    =link_to 'Penalty1', '#', :class=>"red_btn", :id => '' 
    =link_to 'Penalty1', '#', :class=>"green_btn", :id => ''
  .btn_set
    =link_to 'Penalty2', '#', :class=>"red_btn", :id => '' 
    =link_to 'Penalty2', '#', :class=>"green_btn", :id => ''